<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IEX.Lab.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="HostPerformanceInterval"  value="00:00:04"  />
    <add key ="FolderOutput" value = ".\log\"/>
    <add key ="MsiLog" value = "false"/>
    <add key ="InstallationFolderMap" value = "false"/>
    <add key ="AlertOnDiffFolderMap" value = "false"/>
    <add key ="BuildsPath" value ="\\ilstore\iex_cd\build_archive\"/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="20" />
    </connectionManagement>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMonitoringService" closeTimeout="00:05:00"
            openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"
            allowCookies="false" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        
        <binding name="BasicHttpBinding_IMonitoringService_ShortTime" closeTimeout="00:00:20"
           openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:00:20"
           allowCookies="false" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard"
           maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
           messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
           useDefaultWebProxy="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        
        <binding name="BasicHttpBinding_IPinger" closeTimeout="00:00:20"
                    openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:00:20"
                    allowCookies="false" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IConfigurationService" closeTimeout="00:00:20"
            openTimeout="00:00:20" receiveTimeout="00:00:20" sendTimeout="00:00:20"
            allowCookies="false" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="655360" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/IEX.Server.Monitor/MonitoringService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoringService"
          contract="MonitoringServiceReference.IMonitoringService" name="BasicHttpBinding_IMonitoringService" />
      <endpoint address="http://localhost:8732/IEX.Server.Monitor/MonitoringService/"
         binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoringService_ShortTime"
         contract="MonitoringServiceReference.IMonitoringService" name="BasicHttpBinding_IMonitoringService_ShortTime" />
      <endpoint address="http://localhost:8732/IEX.Server.Monitor/MonitoringService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPinger"
          contract="MonitoringServiceReference.IPinger" name="BasicHttpBinding_IPinger" />
      <endpoint address="http://localhost:8732/IEX.Server.Monitor/ConfigurationService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurationService"
          contract="ConfigurationServiceReference.IConfigurationService" name="BasicHttpBinding_IConfigurationService" />
    </client>
    <!--<diagnostics wmiProviderEnabled="true">
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
       />
    </diagnostics>-->
  </system.serviceModel>

  <!--<system.diagnostics>

    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\LabClient.svclog" />
    </sharedListeners>
  </system.diagnostics>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <IEX.Lab.App.Properties.Settings>
      <setting name="Hosts" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="ProjectMRUList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
    </IEX.Lab.App.Properties.Settings>
  </userSettings>
</configuration>
